.dropdown-menu {
    left: 0;
}
.w3l_login a {
    width: 100%;
    height: 30px;
    border: none;
}
#logout, #myAccount {
    font-weight: bold;
    font-size: 15px;
    color: black;
}
.error_invalid {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 80%;
    color: #dc3545;
}
#inputEmail {
    width: 98.7%;
    float: left;
    border-top:1px solid #ccc;
}

#password-confirm, #password, #nameUser, #emailUser, #phoneUser, #creditUser {
    width: 100%;
}
#imageAvatar {
    width: 200px;
    height: 200px;
}

#minusInput, #plusInput {
    color: black;
    font-size: 25px;
}
#closeSubmit {
    border:none;
}
